@model CRUD_App.Models.AddMemberViewModel

@{

}
<h3>Add Member</h3>
<form method="post" action="Add" class="mt-5">
  <div class="mb-3">
    <label for="" class="form-label">First Name</label>
    <input type="text" class="form-control" asp-for="FirstName">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Middle Name</label>
    <input type="text" class="form-control" asp-for="MiddleName">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Surname</label>
    <input type="text" class="form-control" asp-for="SurName">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Age</label>
    <input type="number" class="form-control" asp-for="Age">
  </div>

 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>