@model List<CRUD_App.Models.Domain.Member>
@{

}
<h3>Members</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var member in Model)
        {
            <tr>
                <td>@member.Id</td>
                <td>@member.FirstName</td>
                <td>@member.SurName</td>
                <td>@member.Age</td>
                <td><a href="/Members/@member.Id">View</a></td>
            </tr>
        }
    </tbody>

</table>